[Unit]
Description=アイデア会議進行用のBot

[Service]
Type=oneshot
ExecStart=--PATH--/start-bot.sh
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=always
WorkingDirectory=--PATH--

[Install]
WantedBy=multi-user.target
