[Unit]
Description=アイデア会議進行用のBot

[Service]
Type=simple
ExecStart=--PATH--/run.sh
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=always
WorkingDirectory=--PATH--

[Install]
WantedBy=multi-user.target
