name: Validate renovate's config
on:
  push:
    paths:
      - 'renovate.json'
      - '.github/workflows/renovate.yml'

jobs:
  validate-renovate-config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3

      - name: Install renovate
        run: npm install -g renovate
      - name: Check renovate's config
        run: renovate-config-validator
